---
---

@import "toolbox/all";
@import "base/settings";
@import "base/font-face";

$fourtothree: 1460px;
$threetotwo: 775px;
$twotoone: 530px;

.articles,
.jscroll-inner {
    @include flexbox(row, wrap, flex-start, flex-start);
    width: 100%;

    @media screen and (max-width: $twotoone){
        justify-content: center;
    }

    article{
        @include rowMachine(4, 1%, 25px);

        @media screen and (max-width: $fourtothree){
            @include rowMachine(3, 1%, 25px);
        }

        @media screen and (max-width: $threetotwo) and (min-width: $twotoone + 1){
            @include rowMachine(2, 3%, 25px);
        }

        @media screen and (max-width: $twotoone){
            width: 100%;
            margin-left: 0;
            margin-bottom: 25px;
        }
    }
}

#classic {
    opacity: .7;
}

/* Archive year header: force line break + control spacing */
.archive-year-header {
    display: block;
    width: 100%;
    margin: 0.25rem 0 0.5rem 0;
}

.archive-year-header > h2 {
    margin: 0;
}

/* Reduce gap below the page title */
.index h1.title {
    margin-bottom: 0.25rem;
}
