---
layout: page
sidebar: true
sidebar_type: material
sidebar_position: left
title: Posts by Tag
sitemap: false
description: Posts containing assigned tag keyword
last_modified_at: 2025-12-27T08:42:01-08:00
---

<!-- Renders only the /tags/index.html page -->
<!-- tagdir='{{ site.tag_dir }}' -->
<!-- baseurl='{{ site.baseurl}}' -->
<!-- result='{{ site.tag_dir | prepend: site.baseurl}}' -->
{% assign tag_list = site.tags | sort %}
{% for tag in tag_list %}
    {% assign tagname = tag[0] %}
    <h2>
    {%- assign tag_slug = tagname | slugify -%}
    <a href="{{ site.tag_dir | append: '/' | append: tag_slug | append: '/' | relative_url }}">{{ tagname }}</a>
    </h2>
    {% for post in site.tags[tagname] %}
        {% include article_index_short.html %}
    {% endfor %}
{% endfor %}
