<!-- /_includes/author.html page.layout = {{ page.layout }} -->
{% comment %}  This is the "posted by" text at near the topc of each blog page  {% endcomment %}
{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
<span class="author">
    Posted by
    {% assign the_author = site.data.authors | where: 'id', author %}
    {% for author in the_author %}
    <a href="{{ site.author_dir | append: '/' | append: author.id | append: '/' | relative_url }}">
        {% if author.name %}
        {{ author.name }}
        {% else %}
        {{ author.id }}
        {% endif %}
    </a>
    {% endfor %}
</span>
{% endif %}
