{% for author in the_author %}
<div class="authorbox">
    <div class="avatar">
        {% if author.avatar %}
            <img src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}{{ author.avatar }}" alt="{{ author.id }} avatar">
        {% else %}
            <img src="{{ site.baseurl | replace: '//', '/' }}/{{ site.media_folder | replace: '//', '/'}}/{{ site.author_default_avatar }}" alt="avatar">
        {% endif %}
    </div>
    <div class="info">
        <h2 class="author-name">
            {% if author.name %}
                {{ author.name }}
            {% else %}
                {{ author.id }}
            {% endif %}
        </h2>
        {% if author.bio%}
            <p class="bio">{{ author.bio }}</p>
        {% endif %}
        {% if author.facebook or author.twitter or author.instagram or author.email %}
            <p class="social">
                {% if author.facebook %}
                <a href="{{ author.facebook }}" target="_blank" class="noline">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-label="Facebook">
                        <path d="M22 12a10 10 0 1 0-11.5 9.9v-7H8v-3h2.5V9.5a3.5 3.5 0 0 1 3.7-3.8c1.1 0 2.3.2 2.3.2v2.5h-1.3c-1.3 0-1.7.8-1.7 1.6V12H16l-.5 3h-2.5v7A10 10 0 0 0 22 12z" />
                    </svg>
                </a>
                {% endif %}


                {% if author.twitter %}
                <a href="{{ author.twitter }}" target="_blank" class="noline">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-label="Twitter">
                        <path d="M22.46 6c-.77.35-1.6.58-2.46.69a4.26 4.26 0 0 0 1.88-2.36 8.27 8.27 0 0 1-2.67 1.02A4.14 4.14 0 0 0 16 4a4.18 4.18 0 0 0-4.18 4.19c0 .33.04.66.11.97A11.86 11.86 0 0 1 3.15 5.2a4.2 4.2 0 0 0-.57 2.11A4.18 4.18 0 0 0 4.7 11a4.14 4.14 0 0 1-1.9-.52v.05a4.2 4.2 0 0 0 3.35 4.12 4.23 4.23 0 0 1-1.88.07 4.17 4.17 0 0 0 3.9 2.91A8.32 8.32 0 0 1 2 19.54 11.74 11.74 0 0 0 8.29 21c7.55 0 11.68-6.26 11.68-11.68v-.53A8.18 8.18 0 0 0 22.46 6z" />
                    </svg>
                </a>
                {% endif %}


                {% if author.instagram %}
                <a href="{{ author.instagram }}" target="_blank" class="noline">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-label="Instagram">
                        <path d="M7 2C4.24 2 2 4.24 2 7v10c0 2.76 2.24 5 5 5h10c2.76 0 5-2.24 5-5V7c0-2.76-2.24-5-5-5H7zm10 2c1.66 0 3 1.34 3 3v10c0 1.66-1.34 3-3 3H7c-1.66 0-3-1.34-3-3V7c0-1.66 1.34-3 3-3h10zm-5 3.5A5.5 5.5 0 1 0 17.5 13 5.51 5.51 0 0 0 12 7.5zm0 2A3.5 3.5 0 1 1 8.5 13 3.5 3.5 0 0 1 12 9.5zm4.25-3.75a1.25 1.25 0 1 0 1.25 1.25A1.25 1.25 0 0 0 16.25 5.75z" />
                    </svg>
                </a>
                {% endif %}


                {% if author.email %}
                <a href="mailto:{{ author.email }}" class="noline">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-label="Email">
                        <path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z" />
                    </svg>
                </a>
                {% endif %}

            </p>
        {% endif %}
    </div>
 </div>
{% endfor %}