<div>
    <style>
        .logo-container {
            background: var(--surface);
            border: 1px solid var(--border);
            display: block !important;
            width: 100% !important;
            height: auto !important;
            align-self: flex-start !important;
        }

            .logo-container a {
                display: inline-block !important;
                margin: auto !important;
                width: 7rem !important;
                max-width: 96% !important;
            }

        img.jimmy_logo {
            margin: 5px;
            display: block !important;
            width: 100% !important;
            height: auto !important;
        }

        @media screen and (max-width:900px) {
            img.jimmy_logo {
                /* some specific CSS for lower than 900px screens and windows */
            }
        }
    </style>
    <div class="logo-container">
        <a name="home_gojimmypi_logo" id="home_gojimmypi_logo" href="{{ site.baseurl | replace: '//', '/' }}/" class="logo noline">
            <img src="/images/gojimmypi.svg" class="jimmy_logo" alt="gojimmypi logo">
        </a>
        <div id="installContainer" class="hidden" style="visibility:hidden">
            <button id="btnInstall" type="button">
                Install Test
            </button>
        </div>
    </div>
</div>
