<!-- menu, we did go with a static one, you can build a dynamic one, just google a little around -->
<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg fa-fw"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/" title="Home"><i class="fa fa-home fa-lg fa-fw"></i></a>
                </li>
                <li>
                    <a class="dropdown-button" href="#" data-activates='drop-author'>About<i class="fa fa-caret-down fa-fw"></i></a>
                </li>
                <li>
                    <a class="dropdown-button" href="#" data-activates='drop-archive'>Archive<i class="fa fa-caret-down fa-fw"></i></a>
                </li>
                {% include nav_pages.html %}
                <li>
                    <a href="#colorswitch" class="modal-trigger">Change Colors <i class="fa fa-cog"></i></a>
                </li>
                <li id="theme-toggle-container" class="lamp-navbar-item">
                    <button id="theme-toggle" class="lamp" aria-label="Toggle theme" type="button">
                        <img id="lightModeIcon" src="{{ site.baseurl | replace: '//', '/' }}/icons/light_mode_black_24dp.svg" style="display: inline; height: 34px; width: 34px" title="Light Mode; Click to switch to Dark Mode" /><img id="darkModeIcon" src="{{ site.baseurl | replace: '//', '/' }}/icons/dark_mode_white_24dp.svg" style="display: none; height: 34px; width: 34px " title="Dark Mode; Click to switch to Light Mode" />
                    </button>
                </li>

            </ul>
            <ul id="drop-author" class="dropdown-content">
                <li>
                    <a href="{{ site.authors_dir | prepend: site.baseurl | replace: '//', '/' }}">About</a>
                </li>
                {% for siteauthor in site.data.authors %}
                <li>
                    <a href="{{ site.baseurl }}{{ site.author_dir }}/{{ siteauthor.id }}">{{ siteauthor.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul id="drop-archive" class="dropdown-content">
                <li>
                    <a href="{{ site.categories_dir | prepend: site.baseurl | replace: '//', '/' }}">Categories</a>
                </li>
                <li>
                    <a href="{{ site.tags_dir | prepend: site.baseurl | replace: '//', '/' }}">Tags</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/archive">Yearly</a>
                </li>
            </ul>
        </nav>
        <nav class="iconnav">
            <ul>
                <li class="sicon">
                    <a name="nav_search" id="nav_search" href='#search'><i title="search" class="fa fa-search fa-lg fa-fw"></i></a>
                </li>
                {% if site.rss %}
                <li class="social">
                    <a name="nav_rss" id="nav_rss" href="{{ site.baseurl }}{{ site.rss }}" class="rss"><i title="RSS" class="fa fa-rss fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.tumblr %}
                <li class="social">
                    <a name="nav_tumblr" id="nav_tumblr" href="{{ site.tumblr }}" class="tumblr"><i class="fa fa-tumblr fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.pinterest %}
                <li class="social">
                    <a name="nav_pinterest" id="nav_pinterest" href="{{ site.pinterest }}" class="pinterest"><i title="pinterest" class="fa fa-pinterest fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.youtube %}
                <li class="social">
                    <a name="nav_youtube" id="nav_youtube" href="{{ site.youtube }}" class="youtube" title="View {{ site.author.name  }} YouTube Channel"><img src="/icons/youtube.svg" style="height:34px;width:34px;" /></a>
                </li>
                {% endif %} {% if site.vimeo %}
                <li class="social">
                    <a name="nav_vimeo" id="nav_vimeo" href="{{ site.vimeo }}" class="vimeo"><i class="fa fa-vimeo-square fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.soundcloud %}
                <li class="social">
                    <a name="nav_soundcloud" id="nav_soundcloud" href="{{ site.soundcloud }}" class="soundcloud"><i class="fa fa-soundcloud fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.instagram %}
                <li class="social">
                    <a name="nav_instagram" id="nav_instagram" href="{{ site.instagram }}" class="instagram"><i class="fa fa-instagram fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.facebook.publisher %}
                <li class="social">
                    <a name="nav_facebook" id="nav_facebook" href="{{ site.facebook.publisher }}" class="facebook"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                </li>
                {% endif %} {% if site.twitter.username %}
                <li class="social">
                    <a name="nav_twitter" id="nav_twitter" href="https://twitter.com/{{ site.twitter.username }}" class="twitter" title="Visit {{ site.author.name  }} on Twitter"><img src="/icons/twitter.svg" style="height:34px;width:34px;" /></i></a>
                </li>
                {% endif %} {% if site.mastodon.username %}
                <li class="social">
                    <a name="nav_mastodon" id="nav_mastodon" href="https://hackaday.social/@{{ site.mastodon.username }}" class="mastodon" title="Visit {{ site.author.name  }} on Mastodon"><img src="/icons/mastodon.svg" style="height:34px;width:34px;" /></a>
                </li>
                {% endif %} {% if site.author.email %}
                <li class="social">
                    <a name="nav_mailto" id="nav_mailto" href="mailto:{{ site.author.email }}" class="noline" title="Send an email to {{ site.author.name  }}"><img src="/icons/youtube.svg" style="height:34px;width:34px;" /></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <a href='#menu' class="toggle-link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
    {% include github-corner.html %}
</div>




<div id="colorswitch" class="modal color-change">
    <div class="modal-content">
        <h1>Change Color Palette</h1>
        <p>
            <img id="indigo" alt="color palette preview indigo" src="{{ site.baseurl }}{{ site.media_folder }}/indigo.svg">
            <img id="brown" alt="color palette preview brown" src="{{ site.baseurl }}{{ site.media_folder }}/brown.svg">
            <img id="green" alt="color palette preview green" src="{{ site.baseurl }}{{ site.media_folder }}/green.svg">
            <img id="teal" alt="color palette preview teal" src="{{ site.baseurl }}{{ site.media_folder }}/teal.svg">
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
