                <li><a class="dropdown-button" href="#" data-activates='drop-example'>Page Layouts<i class="fa fa-caret-down fa-fw"></i></a>
                </li>
                <ul id="drop-example" class="dropdown-content">
	                <li>
	                    <a href="{{ site.baseurl | replace: '//', '/' }}/markdown">Markdown</a>
	                </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/page-full">page-full</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/page-classic-sidebar-right">page classic sidebar right</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/page-classic-sidebar-left">page classic sidebar left</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/page-material-sidebar-right">page material sidebar right</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl | replace: '//', '/' }}/page-material-sidebar-left">page material sidebar left</a>
                    </li>
                </ul>