---
layout: compress
sitemap: false
---
<!--copy from page_full payout-->
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
		<script>
		  (function() {
		    var cx = '{{site.cse}}';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:searchresults-only queryParameterName="query"></gcse:searchresults-only>
        {% include footer.html %}
    </body>
</html>