// file: /_sass/partials/layout/_footer.scss
footer {
    font-family: $sc-font;
    letter-spacing: $sc-letter-spacing;
    width: 100%;
    box-sizing: border-box;
    line-height: 54px;
    height: 54px;
    /* Use the same theme token system as the rest of the site */
    background: var(--surface);
    color: var(--text);
    font-size: .9em;
    align-self: flex-end;
    font-weight: normal;

    a {
        color: inherit;
        padding: 0 5px;

        &:hover {
            color: inherit;
            background: var(--nav-hover);
        }

     .content {
            @include flexbox(row, wrap, space-between, center);
        }
        /* Make footer links match footer text (not global link blue) */
    }

    .backtotop {
        color: inherit;

        &:hover {
            color: inherit;
            background: var(--nav-hover);
            cursor: pointer;
        }
    }
}
