// file: _sass/partials/layout/_post.scss
.content-container {
    width: 100%;

    .post-title {
        color: var(--text);
        padding: 10px 0;
    }

    .meta {
        padding: 5px 0;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--border);
        color: var(--muted);
    }

    .featsection {
        margin: 10px 0;
    }

    .catsandtags {
        padding: 10px 0;
        line-height: 2.5;
        color: var(--muted);

        .category,
        .tags {
            .name {
                font-weight: 500;
            }
        }
    }

    .post-nav {
        @include clearfix();
        margin: 20px 0;

        .prev {
            float: left;
        }

        .next {
            float: right;
        }

        @media (max-width: 490px) {
            .long {
                display: none;
            }
        }

        @media (max-width: 318px) {
            .short {
                display: none;
            }
        }
    }
}
