// file: /_sass/partials/components/_lamp.scss
//@import 'mixins';
//@import 'fonts';

.navbar-item {
    text-align: center;
}

#theme-toggle {
    outline-color: var(--color-white);
}

.lamp-navbar-item {
    vertical-align: super;
    background-color: transparent;
    padding: 5px;
}

/* Keep the darker surface feel, but tie it to theme tokens where possible */
div.dark-theme {
    background: var(--surface) !important;
}

/*
    CRITICAL FIX:
    Do NOT style all nav elements globally in dark-theme.
    That was overriding #menu (burger slide-out panel) and icon alignment.
*/
ul.dark-theme,
head.dark-theme,
.sidebar.dark-theme,
body.dark-theme {
    color: #00ffff !important;
    background: var(--code-bg) !important;

    a {
        color: var(--link);
    }

        a:hover {
            color: var(--link-hover);
            text-decoration-color: currentColor;
            text-decoration: underline;
        }
}

/* If you still want navs (in general) to follow dark styling, exclude the header navs */
nav.dark-theme:not(#menu):not(.iconnav) {
    color: #00ffff !important;
    background: var(--code-bg) !important;
}

/*
    Burger menu alignment fix (mobile/off-canvas):
    When #menu is opened via :target (click burger), center the icons and links.
*/
@media (max-width: 900px) {
    #menu:target > ul {
        text-align: center !important;
    }

    #menu:target > ul > li {
        text-align: center !important;
    }

    #menu:target > ul > li > a {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    /* Also center the close "X" link area */
    #menu:target .toggle-link {
        text-align: right;
    }
}

code.dark-theme,
pre.dark-theme {
    color: var(--code-fg);
    background: var(--code-bg) !important;

    .w {
        color: #d0d0d0;
        background-color: var(--code-bg-2);
    }

    .err {
        color: #151515;
        background-color: #ac4142;
    }

    .c, .ch, .cd, .cm, .cpf, .c1, .cs {
        color: #4ab62a;
    }

    .n {
        color: #ffefd5;
    }

    .cp {
        color: #f4bf75;
    }

    .nt {
        color: #f4bf75;
    }

    .o, .ow {
        color: #d0d0d0;
    }

    .p, .pi {
        color: #d0d0d0;
    }

    .gi {
        color: #90a959;
    }

    .gd {
        color: #ac4142;
    }

    .gh {
        color: #6a9fb5;
        background-color: var(--code-bg-2);
        font-weight: bold;
    }

    .k, .kn, .kp, .kr, .kv {
        color: #aa759f;
    }

    .kc {
        color: #d28445;
    }

    .kt {
        color: #d28445;
    }

    .kd {
        color: #d28445;
    }

    .s, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1 {
        color: #d2b48c;
    }

    .sa {
        color: #aa759f;
    }

    .sr {
        color: #75b5aa;
    }

    .si {
        color: #8f5536;
    }

    .se {
        color: #8f5536;
    }

    .nn {
        color: #f4bf75;
    }

    .nc {
        color: #f4bf75;
    }

    .no {
        color: #f4bf75;
    }

    .na {
        color: #6a9fb5;
    }

    .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
        color: #90a959;
    }

    .ss {
        color: #90a959;
    }
}

.snoopy {
}

/* Theme-aware logo container background */
.logo-container {
    background-color: var(--surface);
}

.authorbox.dark-theme,
article.dark-theme {
    color: blanchedalmond;
    background: #2b2b2b;

    a {
        color: var(--link);

        h1 {
            color: cornflowerblue !important;
        }
    }

        a:hover {
            color: var(--link-hover);
            text-decoration-color: currentColor;
            text-decoration: underline;
        }
}

#theme-toggle-container {
    display: flex;
    justify-content: center;
}

.navbar {
    position: relative;
    background-color: var(--navbar-bg-color);
    box-shadow: var(--navbar-box-shadow);
    height: 100%;

    &.opened {
        .navbar-menu {
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 1;
            visibility: visible;
        }

        #navbar-toggle {
            display: flex;

            .icon-bar {
                &:first-child,
                &:last-child {
                    position: absolute;
                    margin: 0;
                    width: var(--navbar-toggle-size);
                    height: 5%;
                }

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.navbar-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

#navbar-toggle {
    --navbar-toggle-size: 3.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    background: transparent;
    height: var(--navbar-toggle-size);
    width: var(--navbar-toggle-size);
    flex-shrink: 0;
    outline-offset: 0.4rem;

    .icon-bar {
        display: block;
        width: 100%;
        height: 33%;
        background: var(--navbar-text-color);
    }

    &:focus,
    &:hover {
        .icon-bar {
            background-color: var(--color-white);
        }
    }
}

.lamp {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: transparent;
    padding-bottom: 5px;
    position: relative;
    transform: scale(0.711);
    transform-style: preserve-3d;
}
