// file: _includes/_menu.scss
// Main Nav (Home - About - Dark Mode)
#menu {
    font-family: $sc-font;
    letter-spacing: $sc-letter-spacing;
    z-index: 105;
    background: $primary-color;
    color: $primary-text-icon-color;
    border-radius: 10px;

    /* inner spacing so content does not touch rounded corners */
    padding: 5px 6px;

    .toggle-link {
        display: none;
    }

    > ul {
        text-align: right;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    li {
        display: inline-block;
        transition: .3s all linear;

        &:hover,
        &.active {
            background-color: rgba(0, 0, 0, .1);
        }

        > a {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            line-height: 1;
            font-size: 1em;
        }
    }
    /* Desktop: override the link display so icons can be centered */
    > ul > li {
        display: flex;
        align-items: center;
        height: 44px;
    }

        > ul > li > a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            line-height: 1;
            padding-top: 0;
            padding-bottom: 0;
            width: auto;
        }

            > ul > li > a svg {
                display: block;
            }
    // Responsive Version (Off-Canvas)
    @media screen and (max-width: $mainnav-collapse) {
        padding: 0;
        width: 320px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top: 0px;
        right: -320px;
        transform: translate(0px, 0px);
        transition: .3s all ease;
        z-index: 108;
        @include shadow("1-half");
        background: white;
        color: $primary-text;
        line-height: 44px;

        a {
            color: $accent-color;

            &:hover {
                color: $accent-color;
            }
        }
        /* OPEN menu when link targets #menu */
        &:target {
            transform: translate(-320px, 0);
            transition: .3s all ease;
        }
        /* Keep support for JS-driven .active if you ever use it */
        &.active {
            transform: translate(-320px, 0);
            transition: .3s all ease;
        }

        .toggle-link {
            display: block;
            position: relative;
            text-align: right;

            &:after {
                content: "";
            }
        }

        > ul {
            text-align: $mainnav-responsive-text-align;
            width: 100%;
            position: relative;
            display: block;
        }

        li {
            display: block;

            &:first-of-type {
                border-top: $noborder;
            }

            &:hover {
                transition: .3s all linear;
                background-color: rgba(0, 0, 0, .1);
            }

            > a {
                width: 100%;
                display: block;
                height: auto;
                line-height: inherit;
            }
        }
        /* Mobile: restore normal full-width links */
        > ul > li > a {
            display: block;
            height: auto;
            line-height: inherit;
            width: 100%;
        }
    }
}

.main-menu {
    background: $primary-color;
    color: $primary-text-icon-color;
    height: 64px;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    font-weight: normal;
    @include shadow(1);
    z-index: 2;

    a {
        font-size: 1rem;
        padding: 0 15px;
        color: $primary-text-icon-color;

        &:hover {
            color: $primary-text-icon-color;
        }
    }

    .content {
        @include flexbox(row, wrap, space-between, center);
        height: inherit;
        line-height: inherit;
        /* Reserve space for GitHub corner (octocat) */
        padding-right: 40px;
    }
}

// Toggle
.toggle-link {
    @media screen and (min-width: $mainnav-collapse) {
        display: none;
    }
}

.dropdown-content {
    @include shadow(1);
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    white-space: nowrap; // Force one line
    z-index: 110;
    will-change: width, height;
    padding: 0;

    li {
        display: block !important;
        clear: both;
        color: $accent-color;
        cursor: pointer;
        line-height: 1.5rem;
        width: 100%;
        text-align: left;
        text-transform: none;
        padding: 0 !important;

        &:hover,
        &.active {
            background-color: #eee;
        }

        & > a,
        & > span {
            box-sizing: border-box;
            font-size: 1.2rem;
            color: $accent-color !important;
            display: block;
            padding: 1rem 1rem;
        }
    }
}

