.widget{
    box-sizing: border-box;
    padding: 10px;

    .title{
	    font-family: $sc-font;
        letter-spacing: $sc-letter-spacing;
    }

    ul{
        padding: 0 25px;
        margin: 0;

        li{
            padding-left: 0px;
        }
    }
}
