---
layout: index
sidebar: true
sidebar_type: material
sidebar_position: left
is_archive_index: true
---

<!-- Begin /_layouts/archive_index.html -->
{% capture page_date %}{{ page.date | date: "%Y" }}{% endcapture %}

{%- include preview_banner.html -%}

<h1 class="title">Posts from {{ page_date }}</h1>
{% for post in site.posts %}
	{% capture post_date %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% if post_date == page_date %}
	    {% include article_index.html %}
	{% endif %}
{% endfor %}

<!-- End /_layouts/archive_index.html -->
