<!DOCTYPE html>
<html lang="en">
<head>
    <!-- _layouts/default.html -->
    {%- assign site_name = site.name | default: site.title -%}
    {%- assign raw_title = page.title | default: site_name -%}
    {%- assign short_title = raw_title | truncatewords: 8, "" -%}

    <title>title: {{ short_title }}{% if site_name and raw_title != site_name %} | {{ site_name }}{% endif %}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="container">
        {% if content != blank %}
            {{ content }}
        {% else %}
            <a id="top"></a>
            No content!
            <nav>
                <ul>
                    <li><a href="/" title="Navigate to home page">Home</a></li>
                    <li><a href="/about/" title="About this site">About</a></li>
                    <li><a href="/blog" title="Example blog">Blog</a></li>
                </ul>
            </nav>
        {% endif %}


    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://github.com/gojimmypi" title="gojimmypi on GitHub">github.com/gojimmypi</a></li>
        </ul>
    </footer>
</body>
</html>