---
last_modified_at: 2025-12-25T09:11:00-08:00
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- /_layouts/index.html page.layout = {{ page.layout }} -->
    <meta charset="UTF-8" />
    <link rel="stylesheet" id="switch-style" href="{{ '/css/grid.css' | relative_url }}?v={% if site.github.build_revision %}{{ site.github.build_revision }}{% else %}{{ site.time | date: '%s' }}{% endif %}">

    {% include head.html %}
</head>
<!-- use logic to toggle sidebar layouts -->
{% if page.sidebar %}
    <body class="index has-{{page.sidebar_type}}-sidebar-{{page.sidebar_position}}">
{% else %}
    <body class="index">
{% endif %}
        <header class="head">
            {%- if site.page_debug -%}
            <!-- use logic to toggle sidebar layouts page.sidebar = {{ page.sidebar }} ; page.sidebar_type = {{ page.sidebar_type }} -->
            {%- endif -%}

            {% if page.sidebar == false or page.sidebar_type == "classic" %}
                {% include header.html %}
            {% endif %}
            {%- include preview_banner.html -%}
            {% include nav.html %}
        </header>
        {% if page.search != false %}
            <!-- move search here -->
        {% endif %}
        <div class="margin">
            <div class="content">
                <div class="switch">
                    <div id="grid"><span></span></div>
                    <div id="classic"><span></span></div>
                </div>
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
                <!-- use logic to toggle sidebar layouts -->
                {% if page.sidebar %}
                {% include {{page.sidebar_type}}-sidebar.html %}
                {% endif %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
