---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- post.html -->
    {% include head.html %}
</head>
<!-- use logic to toggle sidebar layouts -->
{% if page.sidebar %}
    <body class="has-{{page.sidebar_type}}-sidebar-{{page.sidebar_position}}">
{% else %}
    <body>
{% endif %}
        <header class="head">
            <!-- use logic to toggle sidebar layouts -->
            {% if page.sidebar == false or page.sidebar_type == "classic" %}
            {% include header.html %}
            {% endif %}
            {% include nav.html %}
        </header>
        {%- include preview_banner.html -%}

        {% if page.search != false %}
            <!-- move search here -->
        {% endif %}
        <div class="margin">
            <!-- use logic to toggle sidebar layouts -->
            {% if page.sidebar %}
            <div class="content">
                {% else %}
                <div class="content full">
                    {% endif %}
                    <div class="content-container">
                        <article>
                            {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                            <div class="video-container">
                                {{ page.vimeo-embed }}
                            </div>
                            {% endif %}
                            {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" allowfullscreen></iframe>
                            </div>
                            {% endif %}
                            {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                            <img class="featimg" src="{{ site.media_folder | append: '/' | append: page.featimg | relative_url }}" alt="{{ page.featimg }}">
                            {% endif %}
                            {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                            {{ page.audio-embed }}
                            {% endif %}
                            {% endif %}

                            <h1 class="post-title">
                                {{ page.title }}
                            </h1>
                            <div class="meta">
                                {% include author.html %} &bull;
                                <span class="date">
                                    Published on {{ page.date | date: '%B %d, %Y' }}
                                </span>
                            </div>
                            {% if page.type == "standard" %}
                            {% if page.featimg %}
                            <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                            {% endif %}
                            <div id="post-content" class="post-content">
                                {{ content }}
                            </div>
                            {% if page.categories or page.tags %}
                            <div class="catsandtags">
                                {% if page.categories %}
                                <span class="category">
                                    <span class="name">Categories:</span>
                                    {% for category in page.categories %}
                                    <a href="{{ site.category_dir | append: '/' | append: category | slugify | relative_url }}" title="View articles in category: {{ category }}">
                                        {{ category }}
                                    </a> &nbsp;
                                    {% endfor %}
                                </span>
                                {% endif %}

                                {%- if page.categories and page.tags -%}
                                <br>
                                {%- endif -%}

                                {% if page.tags %}
                                <span class="tags">
                                    <!-- tag_dir={{ site.tag_dir }} -->
                                    <span class="name">Tags: </span>
                                    {% for tag in page.tags %}
                                    {%- assign tag_slug = tag | slugify -%}
                                    {%- assign tag_path = site.tag_dir | append: "/" | append: tag_slug | append: "/" | replace: "//", "/" -%}
                                    <a href="{{ tag_path | relative_url }}" title="View posts with keyword: {{ tag }}">
                                        {{ tag }}
                                    </a>{% unless forloop.last %}, {% endunless %}
                                    {% endfor %}
                                </span>
                                {% endif %}
                                <br />
                                <span class="name">More:</span>
                                <a href="{{ "/search/" | relative_url  | replace: '//', '/' }}" title="Navigate to the search page">
                                    Search...
                                </a>
                            </div>
                            {% endif %}
                            <div>
                                {% include github-contribute.html %}
                            </div>
                        </article>
                        {% if page.comments and jekyll.environment != "development" %}
                        {% include comment.html %}
                        {% endif %}
                        <div class="post-nav pill">
                            <div class="post-nav">
                                {% if page.previous.url %}
                                <a class="btn prev pill-link" href="{{ page.previous.url | relative_url }}" title="View the previous article">
                                    {{ site.global_html.single_left_arrow }}
                                    <span class="short"> Prev</span>
                                    <span class="long"> Previous Post</span>
                                </a>
                                {% endif %}

                                {% if page.next.url %}
                                <a class="btn next pill-link" href="{{ page.next.url | relative_url }}" title="View the next article">
                                    <span class="short">Next </span>
                                    <span class="long">Next Post </span>
                                    {{ site.global_html.single_right_arrow }}
                                </a>
                                {% endif %}
                            </div>

                            <!-- use logic to toggle sidebar layouts -->
                            {% if page.sidebar %}
                            {% include {{page.sidebar_type}}-sidebar.html %}
                            {% endif %}
                        </div>
                    </div>
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
