// file: /_sass/base/_settings.scss
@charset "UTF-8";

@import "../toolbox/palettes/base";
@import "../toolbox/palettes/default";

// Shortcuts
//-----------
$noborder: 0 solid transparent;
$line: 1px solid rgba(160,160,160,.2);

// SETTINGS FOR BASE-STYLE
//-------------------

// yes/no variables (use yes or no as values)
//--------------------------------------------

// if set to yes a background-color will be added to body
$background-color-setting: yes;

// if set to yes a transition will be applied to links
$link-transition: yes;

// decide if links will be underlined or not
$link-line-default: no;
$link-line-hover: no;

// if set to yes, each paragraph following after another,
// will have a margin-top
$paragraph-gap: yes;

// if set to yes, settings for a container class will be added
$container-settings: yes;

// if set to yes, some more minimal defaults for tags will be restored (as in: cite, input, textarea etc.)
$extended-defaults: yes;

// if set to yes blockquotes will be styled with a border on the left, padding and margin
$include-blockquote-style: yes;

// if set to yes, defintion lists will be styled
$include-definition-list-style: yes;

// if set to yes, WordPress default classes will be added
$include-WordPress-kit: no;

// color variables (use colors as values)
//----------------------------------------

$main-color: $primary-text;
$link-hover-color: $accent-color;
$link-color: $dark-primary-color;

// String Variables (use strings as values | for Font Variables: Don't forget to include the fonts)
//------------------------------------------

/* Base font: modern UI sans (crisp and readable) */
// $main-font: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
// "Inter" is part of fonts.googleapis.com, currently disabled
$main-font: "system-ui", "-apple-system," "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";

/* Headings: match body for a clean professional look */
$headings-font: $main-font;

// use values from text-transform [none|capitalize|uppercase|lowercase|initial|inherit]
$headings-text-transform: none;

$code-font: "Courier New", "Courier", "Consolas", "Menlo", "monospace";

$sc-font: "Gill Sans", "Gill Sans MT", "Calibri", "Arial", "Helvetica", "sans-serif";

$sc-letter-spacing: .1em;

// size variables (use numbers as values (units as indicated ))

/* Slightly stronger default weight improves readability */
$main-font-weight: 400;

/* Optional: headings a bit stronger */
$headings-font-weight: 700;

// use px here
$root-font-size: 18px;

/* More comfortable for long-form reading, DO NOT add units here: */
$basic-line-height: 1.45;

$heading-margin: .8rem;


// yes/no-dependant
//------------------
// if the dependant variable is set to no,
// the variables can be ignored

// depends on: $background-color-setting
$background-color: #F9F9F9;

// depends on: $paragraph-gap
$paragraph-gap-size: 1em;

// depends on: $container-settings
$container-class-name: "content";
$container-background-color: transparent;
$container-max-width: 1500px; // use px here
$container-width: 90%; // use % here

// depends on: $include-blockquote-style
$blockquote-border: 1px solid rgba(black, 0.3);

// depends on: $include-definition-list-style
$definition-list-border: 1px solid rgba(black, 0.1);

// PROJECT SETTINGS
//------------------

// new heading font sizes: others are calculated in /_sass/partials/_general.scss
$h1-fontsize: 1.6rem;
$h6-fontsize: 1.1rem;


// collapses
$sidebarcollapse: 1330px;

// point at which the layout switch will no longer be visible
$layoutswitch-hiding-point: 530px;

// Logo Collapses
$from-full-to-noslogan: 935px;
$from-noslogan-to-icon: 640px;

// header
$head-bg: $almost-white;

// search overlay
$so-bg: rgba(white, .8);
$so-color: black;

// Menu
$mainnav-collapse: 750px; // the distance which nav menu disappears and burger appears
$mainnav-responsive-text-align: center;

// Post Pages
$title-color: $primary-color;

// author box
$avatar-width: 150px;
$authorbox-collapse: 510px;

// lightbox
$lightbox-container-background: $almost-black;


// sidebar
$sidebar-width: 320px;
$margin-width: 30px;
$material-sidebar-responsive-border-bg: $accent-color;


// modals
$modal-width-change: 900px;