@charset "UTF-8";

@import "../toolbox/palettes/base";
@import "../toolbox/palettes/default";

// Shortcuts
//-----------
$noborder: 0 solid transparent;
$line: 1px solid rgba(160,160,160,.2);

// SETTINGS FOR BASE-STYLE
//-------------------

// yes/no variables (use yes or no as values)
//--------------------------------------------

// if set to yes a background-color will be added to body
$background-color-setting: yes;

// if set to yes a transition will be applied to links
$link-transition: yes;

// decide if links will be underlined or not
$link-line-default: no;
$link-line-hover: no;

// if set to yes, each paragraph following after another,
// will have a margin-top
$paragraph-gap: yes;

// if set to yes, settings for a container class will be added
$container-settings: yes;

// if set to yes, some more minimal defaults for tags will be restored (as in: cite, input, textarea etc.)
$extended-defaults: yes;

// if set to yes blockquotes will be styled with a border on the left, padding and margin
$include-blockquote-style: yes;

// if set to yes, defintion lists will be styled
$include-definition-list-style: yes;

// if set to yes, WordPress default classes will be added
$inlcude-WordPress-kit: no;

// color variables (use colors as values)
//----------------------------------------

$main-color: $primary-text;
$link-hover-color: $accent-color;
$link-color: $dark-primary-color;

// String Variables (use strings as values | for Font Variables: Don't forget to include the fonts)
//------------------------------------------

$main-font: "Gill Sans", "Gill Sans MT", Calibri, "PingFang HK", "蘋方-港", "PingFang TC", "蘋方-繁", "PingFang SC", "蘋方-簡", "PingFang", "source-han-sans-traditional", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", SimSun, 宋体, STXihei, "华文细黑", sans-serif;

// set to $main-font if you don't want your headings to use another font
$headings-font: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "PingFang HK", "蘋方-港", "PingFang TC", "蘋方-繁", "PingFang SC", "蘋方-簡", "PingFang", "source-han-sans-traditional", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", SimSun, 宋体, STXihei, "华文细黑", serif;

// use values from text-transform [none|capitalize|uppercase|lowercase|initial|inherit]
$headings-text-transform: none;

$code-font: Courier New, Courier, Consolas, "Liberation Mono", Menlo, STFangSong, "华文仿宋", FangSong, "仿宋", monospace;

$sc-font: "fontin_smallcapsregular", "Gill Sans", "Gill Sans MT", Calibri, "PingFang HK", "蘋方-港", "PingFang TC", "蘋方-繁", "PingFang SC", "蘋方-簡", "PingFang", "source-han-sans-traditional", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", SimSun, 宋体, STXihei, "华文细黑", sans-serif;

$sc-letter-spacing: .05em;

// size variables (use numbers as values (units as indicated ))

// font-weights, alternatively use: [light, normal, bold]
$main-font-weight: normal;

// set $main-font-weight if you don't want your headings to use another font-weight
$headings-font-weight: bold;

// use px here
$root-font-size: 20px;

// do not add a unit here
$basic-line-height: 1.35;

$heading-margin: .8rem;


// yes/no-dependant
//------------------
// if the dependant variable is set to no,
// the variables can be ignored

// depends on: $background-color-setting
$background-color: #F9F9F9;

// depends on: $paragraph-gap
$paragraph-gap-size: 1em;

// depends on: $container-settings
$container-class-name: 'content';
$container-background-color: transparent;
$container-max-width: 1500px; // use px here
$container-width: 90%; // use % here

// depends on: $include-blockquote-style
$blockquote-border: 1px solid rgba(black, 0.3);

// depends on: $include-definition-list-style
$definition-list-border: 1px solid rgba(black, 0.1);

// PROJECT SETTINGS
//------------------

// new heading font sizes: others are calculated in /_sass/partials/_general.scss
$h1-fontsize: 1.6rem;
$h6-fontsize: 1.1rem;


// collapses
$sidebarcollapse: 1330px;

// point at which the layout switch will no longer be visible
$layoutswitch-hiding-point: 530px;

// Logo Collapses
$from-full-to-noslogan: 935px;
$from-noslogan-to-icon: 640px;

// header
$head-bg: $almost-white;

// search overlay
$so-bg: rgba(white, .8);
$so-color: black;

// Menu
$mainnav-collapse: 1068px;
$mainnav-responsive-text-align: center;

// Post Pages
$title-color: $primary-color;

// author box
$avatar-width: 150px;
$authorbox-collapse: 510px;

// lightbox
$lightbox-container-background: $almost-black;

// shortcuts
$line: 1px solid rgba(160,160,160,.2);

// sidebar
$sidebar-width: 320px;
$margin-width: 30px;
$material-sidebar-responsive-border-bg: $accent-color;


// modals
$modal-width-change: 900px;