name: Check yearly archive stubs

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
        env:
          BUNDLE_GEMFILE: ${{ github.workspace }}/Gemfile

      - name: Show GitHub Pages versions
        env:
          BUNDLE_GEMFILE: ${{ github.workspace }}/Gemfile
        run: |
            bundle exec github-pages versions

      - name: Verify archive stub pages exist
        run: |
            bash ./scripts/gen_year_archives.sh --check

      - name: Check for missing titles
        run: |
            bash ./scripts/find_missing_description.sh _posts

      - name: Check for tag files
        run: |
            # Tags are not generated in latest jekyll version, so we prebuild them as part of repo
            count=$(find ./tag -mindepth 1 -maxdepth 1 -type d | wc -l)

            if [ "$count" -ge 250 ]; then
                echo "OK: _site/tag has $count subdirectories"
            else
                echo "FAIL: _site/tag has only $count subdirectories"
                exit 1
            fi

      - name: Check for tag files
        run: |
            # Disallow underscores in post names (bad for SEO)
            DIR="./_posts"

            if find "$DIR" -maxdepth 1 -type f -name "*_*" | grep -q .; then
                echo "ERROR: Files with underscores found in $DIR"
                find "$DIR" -maxdepth 1 -type f -name "*_*"
                exit 1
            fi

            echo "OK: No underscores found in $DIR"




